
.DS_Store

MPFlipViewController.xcodeproj/xcuserdata/mark.xcuserdatad/xcschemes/xcschememanagement.plist

MPFlipViewController.xcodeproj/xcuserdata/mark.xcuserdatad/xcschemes/MPFlipViewController.xcscheme

MPFlipViewController.xcodeproj/project.xcworkspace/xcuserdata/mark.xcuserdatad/WorkspaceSettings.xcsettings

MPFlipViewController.xcodeproj/project.xcworkspace/xcuserdata/mark.xcuserdatad/UserInterfaceState.xcuserstate
